[submodule "ansible/library/ansible-aur"]
	path = ansible/library/ansible-aur
	url = https://github.com/kewlfft/ansible-aur.git
[submodule "files/config/sublime-text-3/Packages/molokai"]
	path = files/config/sublime-text-3/Packages/molokai
	url = https://github.com/tomasr/molokai.git
