command=~/.config/i3scripts/$BLOCK_NAME
align=left
separator=false
separator_block_width=20
markup=pango
interval=2


[kbdrate]
command=xset r rate 350 50 && printf ''
interval=30

[bandwidth3]
command=~/.config/i3blocks-contrib/bandwidth3/bandwidth3 -t 1 -p 'if (rx) {printf "%'"'"' 5.f<small> </small>", rx};  if (tx && rx) {printf " "}; if (wx) {printf "%'"'"' 5.f<small> </small>", wx}; if (tx) {printf "\n"}' -u KB
min_width='1,586 1,513'
interval=persist
align=right
separator_block_width=50
color=#f92672

[mediaplayer]
instance=spotify
interval=5
signal=10
color=#8CE000

[arch_update]
command=~/.config/i3scripts/arch-update.py -a -b "#5fff5f" -u "#FFFF85" -w "^linux.*" "^pacman.*" -q
interval=3600

[usb]
command=~/.config/i3blocks-contrib/usb/usb -i nvme0n1p1 -i nvme0n1p2
signal=1
color=#8CE000

[time]
command=date -u '+<small><tt>%Y</tt>-<tt>%m</tt>-<tt>%d</tt></small> <tt>%H</tt>:<tt>%M</tt>:<tt>%S</tt> '
color=#8CE000
interval=1
separator_block_width=0

[time_local]
command=date '+<span font_weight="light" size="smaller" color="#FF8C00"><tt>%H</tt>:<tt>%M</tt><small>%Z</small></span>'
interval=1

[home]
command=~/.config/i3scripts/disk
instance=/home/
label=
interval=3600
color=#4ec2f7

[temperature]
color=#4ec2f7
min_width=' 44°C'

[battery]
interval=15

[brightness]
color=#4ec2f7
label=
signal=10
interval=once

[volume]
color=#FF8C00
signal=10
interval=once
instance=Master

[f5vpn]
signal=10
interval=600
color=#FF8C00
