<!-- {{ ansible_managed }} -->
<config>
  <!-- Folding Slot Configuration -->
  <client-type v='bigadv'/>

  <!-- HTTP Server -->
  <allow v='0.0.0.0/0'/>

  <!-- Network -->
  <proxy v=':8080'/>

  <!-- Remote Command Server -->
  <command-allow-no-pass v='0.0.0.0/0'/>

  <!-- User Information -->
  <passkey v='{{ foldingathome.key }}'/>
  <team v='{{ foldingathome.team  }}'/>
  <user v='{{ foldingathome.user }}'/>

  <!-- Folding Slots -->
  <slot id='0' type='CPU'/>
  {% for i in range(1, foldingathome.num_gpus) %}<slot id='{{ i }}' type='GPU'/>
  {% endfor %}<slot id='{{ foldingathome.num_gpus }}' type='GPU'>
    <idle v='true'/>
  </slot>
</config>
