SUBSYSTEM=="video4linux", KERNEL=="video[0-9]*", ATTRS{product}=="Logitech Webcam C930e",RUN="/usr/bin/v4l2-ctl -d $devnode --set-ctrl=saturation=115"
